<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XStitchStudio.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <XStitchStudio.My.MySettings>
            <setting name="DesignFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectThreadsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="DesignFilePath" serializeAs="String">
                <value>C:\ProgramData\hindleware\XStitchStudio\Designs</value>
            </setting>
            <setting name="DesignStitchDisplay" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PaletteStitchDisplay" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="StitchDisplayStyleFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>C:\ProgramData\hindleware\XStitchStudio\Logs</value>
            </setting>
            <setting name="isGridOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectThreadSymbolsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="SymbolsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value>C:\ProgramData\hindleware\XStitchStudio\Images</value>
            </setting>
            <setting name="BackupFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>C:\ProgramData\hindleware\XStitchStudio\Backup</value>
            </setting>
            <setting name="BackupAddDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColourCaptureFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ThreadFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="LogViewPos" serializeAs="String">
                <value />
            </setting>
            <setting name="LogZoomValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogZoomOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isDebugOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestoreFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="FileRetentionPeriod" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="IsShowBlockstitches" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowBackstitches" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsShowKnots" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCentreOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CentrelineColour" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="CentrelineWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ProjectTimerFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="isTimerAutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isTimerAutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildCardsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintThreadCardsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="isShowStockLevels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isAutoArchiveOnSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="isPrintKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintKeyOrder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintSquaresPerInch" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="TilingOverlap" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OverlapShading" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isShowPageOrder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintMarginTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintMarginLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintMarginBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintMarginRight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintBackstitchLines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isPrintHeader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DesignBy" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyrightBy" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintOptionsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="GlobalSettingsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="isAutoRunHousekeeping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isHousekeepLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isHousekeepDesigns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Grid1Colour" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Grid5Colour" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Grid10Colour" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Grid1Thickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Grid5Thickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Grid10Thickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PrintCentreMarks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectionBorderColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BackstitchWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectionBorderWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="isSelectionWidthVariable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isBackstitchWidthVariable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isCentrelineWidthVariable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VariableFraction" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ApplicationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DesignInfoFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultFabricCount" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="ImportImageFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isCentreMarksOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataFilePath" serializeAs="String">
                <value>%applicationpath%\Data</value>
            </setting>
            <setting name="isHousekeepData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isInstallationComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileRetentionCopies" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ShowBlkStInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBkStInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowKnotInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintTitleFont" serializeAs="String">
                <value>Century Gothic, 12pt, style=Bold</value>
            </setting>
            <setting name="PrintTextFont" serializeAs="String">
                <value>Century Gothic, 10pt</value>
            </setting>
            <setting name="PrintFooterFont" serializeAs="String">
                <value>Century Gothic, 6pt</value>
            </setting>
            <setting name="isPrintFooter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintCentreLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintRowNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintColumnNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrintGrid1Colour" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PrintGrid5Colour" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PrintGrid10Colour" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PrintCentreLineColour" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="PrintBorderThickness" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PrintCentreLineThickness" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DesignSizeFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="TextFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="BeadFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="BrandFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="SplitDistDesign1" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="SplitDistDesign2" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="SplitDistInfo1" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="SplitDistInfo2" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="SplitDistInfo3" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="SplitDistInfo4" serializeAs="String">
                <value>330</value>
            </setting>
            <setting name="SplitDistImport1" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="SplitDistText1" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="SplitDistBackup1" serializeAs="String">
                <value>460</value>
            </setting>
            <setting name="SplitDistBackup2" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="SplitDistBackup3" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="SplitDistRestore1" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="SplitDistRestore2" serializeAs="String">
                <value>290</value>
            </setting>
            <setting name="SplitDistRestore3" serializeAs="String">
                <value>620</value>
            </setting>
            <setting name="SplitDistProjThreads1" serializeAs="String">
                <value>330</value>
            </setting>
            <setting name="PaletteFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="SplitDistPalette1" serializeAs="String">
                <value>390</value>
            </setting>
            <setting name="ImportDesignFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="SplitDistImportDesign1" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="LastTextFont" serializeAs="String">
                <value>Times New Roman, 18pt</value>
            </setting>
            <setting name="SplitDistPalette2" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SplitDistPalette3" serializeAs="String">
                <value>390</value>
            </setting>
        </XStitchStudio.My.MySettings>
	</userSettings>
</configuration>